.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  font-family: "Nunito", sans-serif;
  border-bottom: 2px solid rgb(222, 215, 215);
  width: 94%;
}

.title {
  justify-self: flex-start;
  margin-left: 1rem;
  font-family: "Belanosima", sans-serif;
}

.logo {
  height: 4rem;
  margin-left: -35px;
}

nav {
  justify-self: flex-end;
  margin-left: 41rem;
}

.nav_list {
  display: flex;
}

li {
  list-style: none;
  padding: 0;
}

.link {
  text-decoration: none;
  margin: 0 16px;
  color: rgb(33, 169, 237);
}

.br {
  color: rgb(77, 74, 74);
  font-weight: 500;
}
