body {
  margin: 0;
  font-family:
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Roboto',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header {
  display: flex;
  align-items: center;
  padding: 1rem;
}

.sth-header {
  justify-self: flex-start;
  margin-left: 1rem;
}

.logo {
  height: 4rem;
}

nav {
  justify-self: flex-end;
  margin-left: 30rem;
}
